!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    #wrapper.container
      // MAIN
      #main.row
        .left.col-sm-6
          .main__left.row
            .main__logo.col-xs-3
              %img{alt: "文通", src: "images/logo.png"}
            .main__catchcopy.col-xs-9
              %h2 文通だからこそ、心が通う。
              %p.description01
                スマートフォンを開けば、
                %br
                瞬時に誰かと繋がれる時代。
                %br
                目まぐるしく交わされる
                %br
                コミュニケーションに疲れていませんか。
              %p.description02
                メールもなく手紙でやりとりしていた頃。
                %br
                届くまでに時間がかかるからこそ、
                %br
                一行一行に心をこめてペンを走らせ、
                %br
                ワクワクしながらポストを覗きました。
              %p.description03
                そんな心の通う文通を
                %br
                このアプリではじめましょう。
              .main__download
                %a{href: "#"}
                  %img{alt: "アプリをダウンロード", src: "images/download.png"}
        .right.col-sm-6
          %img{alt: "iphone", src: "images/iphone_header.png"}

      #contents.row
        .content.col-sm-4
          %img{alt: "手紙をおくる", src: "images/image01.png"}
          %h3 手紙をおくる

          %p
          最初は誰に届くかは
          %br
          わかりません。

        .content.col-sm-4
          %img{alt: "手紙を受け取る", src: "images/image02.png"}
          %h3 手紙を受け取る

          %p
          相手に届くまで
          %br
          数日かかります。

        .content.col-sm-4
          %img{alt: "やりとりする", src: "images/image03.png"}
          %h3 やりとりする

          %p ゆっくりと友情を
          育みましょう

      #footer.row
        .footer__download.col-sm-5
          %p
            文通を使って、ワクワクしませんか？
          .btn
            %img{alt: "アプリをダウンロード", src: "images/download02.png"}

        .footer__logo.col-sm-2
          %img{alt: "文通", src: "images/logo-small.png"}

        .footer__copyright.col-sm-5
          %p
            Copyright © 2015 div Inc. All rights reserved.
