!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .main
      .main_buntsu
        %img{alt: "文通", src: "images/logo.png"}

      .main_left
        %h2 文通だからこそ、心が通う。
        %p
        スマートフォンを開けば、
        %br
        瞬時に誰かと繋がれる時代。
        %br
        目まぐるしく交わされる
        %br
        コミュニケーションに疲れていませんか。

        %p
        メールもなく手紙でやりとりしていた頃。
        %br
        届くまでに時間がかかるからこそ、
        %br
        一行一行に心をこめてペンを走らせ、
        %br
        ワクワクしながらポストを覗きました。

        %p
        そんな心の通う文通を
        %br
        このアプリではじめましょう。

        %img{alt: "アプリをダウンロード", src: "images/download.png"}

      .main_right
        %img{alt: "iphone", src: "images/iphone_header.png"}

    .contents
      .contents_left
        %img{alt: "手紙をおくる", src: "images/image01.png"}
        %h3 手紙をおくる

        %p
        最初は誰に届くか
        %br
        はわかりません。

      .contents_center
        %img{alt: "手紙を受け取る", src: "images/image02.png"}
        %h3 手紙を受け取る

        %p
        相手に届くまで
        %br
        数日かかります。

      .contents_right
        %img{alt: "やりとりする", src: "images/image03.png"}
        %h3 やりとりする

        %p ゆっくりと友情を
        育みましょう

    .footer
      .footer_left
        文通を使って、ワクワクしませんか？
        %img{alt: "アプリをダウンロード", src: "images/download02.png"}

      .footer_center
        %img{alt: "文通", src: "images/logo-small.png"}

      .fotter_right
        Copyright © 2015 div Inc. All rights reserved.
