!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    文通

    文通だからこそ、心が通う。
    スマートフォンを開けば、
    瞬時に誰かと繋がれる時代。
    目まぐるしく交わされる
    コミュニケーションに疲れていませんか。

    メールもなく手紙でやりとりしていた頃。
    届くまでに時間がかかるからこそ、
    一行一行に心をこめてペンを走らせ、
    ワクワクしながらポストを覗きました。

    そんな心の通う文通を
    このアプリではじめましょう。

    アプリをダウンロード

    手紙をおくる
    最初は誰に届くか
    はわかりません。

    手紙を受け取る

    相手に届くまで
    数日かかります。

    やりとりする

    ゆっくりと友情を育みましょう

    文通を使って、ワクワクしませんか？

    アプリをダウンロード

    文通

    Copyright © 2014 we-b Inc. All rights reserved.
