$color-base: #cd5345;
$color-accent: #af3c2f;
$color-text: #fff;

@font-face {
  font-family: 'Hannari';
  src: url('Hannari.otf');
}

body{
  width: 860px;
  margin: 0 auto;
  background-color: $color-base;
  color: $color-text;
  font-family: 'Hannari';
}

.main{
  height: 550px;
  padding: 100px 30px 10px;
}

.main_buntsu{
  width: 10%;
  float: left;
}

.main_left{
  width: 40%;
  float: left;
}

.main_right{
  width: 50%;
  float: left;
}

.content{

}

.contents_left{
  float: left;
}

.contents_right{
  
}

.contents_center{
  float: left;
}

.footer{

}

.footer_left{
  float: left;
}

.footer_center{
  float: left;
}

.footer_right{

}